<h1>About</h1>
<p>
  <%= link_to "Britain's butler boom on Global Post", "http://www.globalpost.com/dispatch/news/regions/europe/united-kingdom/130411/butler-wealth-economy" %>
  
LONDON, UK — Amid an otherwise bleak landscape, Britain’s economy is showing one unexpected bright spot: the job market for butlers is booming.

The rising fortunes of the world’s wealthiest are creating a global demand for butlers unsurpassed at any time in the last 50 years.

Not just any domestic help will do.

Discreet, impeccably elegant and as comfortable typing on a Blackberry as uncorking a champagne bottle, the image of British butlers makes them requisite status symbols on par with Ferraris in the garage — and they’re being exported to the houses and private yachts of the planet’s uber-wealthy in droves.

The demand is giving new life to a once-dying profession. Britain had 30,000 working butlers in the 1930s, according to the International Guild of Professional Butlers. By the 1980s, as the aristocratic estates portrayed in shows such as “Downton Abbey” faded into history, there were barely 100.

Estimates put the number of British butlers employed in homes, hotels and elsewhere in the UK today at between 5,000 and 10,000, and there are more abroad.

The job has changed since the days of P.G. Wodehouse’s Jeeves, however. A modern butler is a blend of personal assistant, valet, housekeeper, driver and event planner.

“I use a computer all the time, telephone, email — but I still have to check the wine and polish silverware and the glassware,” says Christopher Cantlon, 58, an instructor at the International Butler Academy in the Netherlands who also works at a private home.

More from GlobalPost: Butler’s dish on ‘Downton Abbey’

As the incomes of European aristocracy dwindle, employers are more likely to combine several roles into one to save money, says butler Robin Stuart, who once worked among a staff of more than 200 in the Saudi Arabian second home of an employer who visited there only twice a year.

“They try to keep up appearances,” says Stuart, who now runs his own butler training services. “One minute you’re chopping wood and the next you’re bringing a duchess in for tea.”

Salaries begin at $45,000 for recent graduates and can reach as high $160,000 for head butlers — although as Gary Williams of the British Butler Institute points out, those at the higher end of the pay scale “don’t have much of a life.”

The global financial crisis may have forced an era of austerity and sacrifice on most households, but it hasn’t affected demand for butler schools and placement agencies that cater to a clientele that lives outside normal economic realities.

“We’ve been through what should have been a crash for us but wasn’t,” said Sara Vestin Rahmani, whose Bespoke Bureau training and placement agency is located in the heart of London’s financial center.

As streams of newly unemployed left their offices with cardboard boxes in arms when banks collapsed in 2008, “we didn’t see demand fall,” Rahmani said. “The really rich aren’t affected by the economic downturn. They’re getting richer. We’re lucky in that sense.”

The website of the International Guild of Professional Butlers offers job postings in London, Singapore and Long Island. There are listings by employers from Russia, the Middle East, India and the Far East, agency staff say, in addition to Europe, the United States and the UK.

However, the undisputed leader in the job market is China, where virtually every agency has an office or representative. Demand for British and British-trained staff outstrips supply even though the market is believed to be two or three years from really taking off, according to Williams of the British Butler Institute.

“They’ll soak up as many butlers as they can get their hands on,” he says.

Not every butler is happy about that. As the industry expands, some in the old guard privately mourn the passing of what they describe as a golden age of etiquette.

“It’s all been ruined, really,” says Rick Fink, 78, who began training as a steward for the Royal Navy in 1953 and has since worked as a butler and trainer. “There’s a lot of nouveau riche around who think a butler’s what they need… Whatever training’s going on is pretty poor. It’s not correct.” 

“You’ve got to know how to clean a shoe, how to do a proper press,” he added. “You’ve got to do the old skills.”

More from GlobalPost: Debate over Thatcher's legacy continues in parliament and on the streets

Stuart agrees.

“I think the old ways will always be there,” he says, standing by a table in a basement classroom set with china, two sets of cutlery, three kinds of glassware and an assortment of folded napkins.

“There will always be people who want to live the good life.”
</p>