<div class="center hero-unit">
<h1>Welcome to UK Butlers</h1>
<p>
  You've found the home page for the
  <%= link_to "UK Butlers", "http://ukbutlers.com" %>
  application.
</p>
<p>
  <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>